  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "AirbnbClone" , root_path, class: "navbar-brand"  %> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu Multinivel <span class="caret"></span></a>
                  <ul class="dropdown-menu multi-level" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SubMenu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown dropdown-large">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu Grande <b class="caret"></b></a>
    				
    				<ul class="dropdown-menu dropdown-menu-large row">
    					<li class="col-sm-3">
    						<ul>
    							<li class="dropdown-header">Glyphicons</li>
    							<li><a href="#">Available glyphs</a></li>
    							<li class="disabled"><a href="#">How to use</a></li>
    							<li><a href="#">Examples</a></li>
    							<li class="divider"></li>
    							<li class="dropdown-header">Dropdowns</li>
    							<li><a href="#">Example</a></li>
    							<li><a href="#">Aligninment options</a></li>
    							<li><a href="#">Headers</a></li>
    							<li><a href="#">Disabled menu items</a></li>
    						</ul>
    					</li>
    					<li class="col-sm-3">
    						<ul>
    							<li class="dropdown-header">Button groups</li>
    							<li><a href="#">Basic example</a></li>
    							<li><a href="#">Button toolbar</a></li>
    							<li><a href="#">Sizing</a></li>
    							<li><a href="#">Nesting</a></li>
    							<li><a href="#">Vertical variation</a></li>
    							<li class="divider"></li>
    							<li class="dropdown-header">Button dropdowns</li>
    							<li><a href="#">Single button dropdowns</a></li>
    						</ul>
    					</li>
    					<li class="col-sm-3">
    						<ul>
    							<li class="dropdown-header">Input groups</li>
    							<li><a href="#">Basic example</a></li>
    							<li><a href="#">Sizing</a></li>
    							<li><a href="#">Checkboxes and radio addons</a></li>
    							<li class="divider"></li>
    							<li class="dropdown-header">Navs</li>
    							<li><a href="#">Tabs</a></li>
    							<li><a href="#">Pills</a></li>
    							<li><a href="#">Justified</a></li>
    						</ul>
    					</li>
    					<li class="col-sm-3">
    						<ul>
    							<li class="dropdown-header">Navbar</li>
    							<li><a href="#">Default navbar</a></li>
    							<li><a href="#">Buttons</a></li>
    							<li><a href="#">Text</a></li>
    							<li><a href="#">Non-nav links</a></li>
    							<li><a href="#">Component alignment</a></li>
    							<li><a href="#">Fixed to top</a></li>
    							<li><a href="#">Fixed to bottom</a></li>
    							<li><a href="#">Static top</a></li>
    							<li><a href="#">Inverted navbar</a></li>
    						</ul>
    					</li>
    				</ul>
    				
    			</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Juan Carson <span class="caret"></span</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Preferencias</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>     
                </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>