<div class="row">
    <div class="col-md-3"><%= render 'room_menu' %></div>
    <div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">Pricing</div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                        <div class="container">
                            <%= form_for @room do |f| %>
                           <div class="form-group">
                            <label>Price per Night (USD)</label>
                            <%= f.text_field :price, placeholder: "eg:100$",class: "form-control"%>
                        </div>
                        
                        <div class="text-center">
                            <%= f.submit "Save",class: "btn btn-success" %>
                        </div>
                        <% end %>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    </div>
</div>